In [136]:

%pip install pandas numpy scikit-learn

Requirement already satisfied: pandas in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (2.2.4)
Requirement already satisfied: scikit-learn in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (1.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.6.0 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in d:\documents\hcmut\hk242\ptdll\btl\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Load libraries and datasets

In [137]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [138]:
players = pd.read_csv('./datasets/players.csv')
purchased_games = pd.read_csv("./datasets/purchased_games.csv")
games = pd.read_csv("./datasets/games.csv")
history = pd.read_csv("./datasets/history.csv")
prices = pd.read_csv("./datasets/prices.csv")

In [ ]:
# print(players.isnull().sum())
# print(games.isnull().sum())
# print(purchased_games.isnull().sum())
# print(history.isnull().sum())
# print(prices.isnull().sum())

playerid         0
country     177868
created      47669
dtype: int64
gameid                    0
title                     3
developers             5559
publishers             5941
genres                 5549
supported_languages    5506
release_date              0
dtype: int64
playerid        0
library     55607
dtype: int64
playerid         0
achievementid    0
date_acquired    0
dtype: int64
gameid                 0
usd               907148
eur              1703086
gbp               908184
jpy               919973
rub              1006291
date_acquired          0
dtype: int64

# Clean data

## Remove duplicates

In [140]:
players = players.drop_duplicates()
purchased_games = purchased_games.drop_duplicates()
games = games.drop_duplicates()
history = history.drop_duplicates()
prices = prices.drop_duplicates()

## Standardize date format

In [141]:
players['created'] = pd.to_datetime(players['created'])
games['release_date'] = pd.to_datetime(games['release_date'])
history['date_acquired'] = pd.to_datetime(history['date_acquired'])
prices['date_acquired'] = pd.to_datetime(prices['date_acquired'])

# Handle missing data

## players.csv

In [142]:
players.fillna({'country': 'Unknown'}, inplace=True)

players.fillna({'created': players['created'].median()}, inplace=True)

print(players.isnull().sum())

playerid    0
country     0
created     0
dtype: int64

## games.csv

In [143]:
games.dropna(subset=['title'], inplace=True)

games.fillna({'developers': 'Unknown'}, inplace=True)
games.fillna({'publishers': 'Unknown'}, inplace=True)
games.fillna({'genres': 'Unknown'}, inplace=True)

games.fillna({'supported_languages': 'English'}, inplace=True)

print(games.isnull().sum())

gameid                 0
title                  0
developers             0
publishers             0
genres                 0
supported_languages    0
release_date           0
dtype: int64

## purchased_games.csv

In [144]:
purchased_games.fillna({'library': '[]'}, inplace=True)

print(purchased_games.isnull().sum())

playerid    0
library     0
dtype: int64

## history.csv (no null values)

## prices.csv

In [145]:
latest_prices = prices.sort_values("date_acquired").groupby("gameid").last().reset_index()

In [146]:
exchange_rates = {
    "usd": 1.0,
    "eur": 0.93,
    "gbp": 0.77,
    "jpy": 150.75,
    "rub": 84.51
}

def convert_to_usd(row):
    prices_in_usd = [row[currency] / exchange_rates[currency] for currency in exchange_rates if not pd.isna(row[currency])]
    return sum(prices_in_usd) / len(prices_in_usd) if prices_in_usd else None

latest_prices = prices.sort_values("date_acquired").groupby("gameid").last().reset_index()

# Create a new column with the converted USD price
latest_prices["price_usd"] = latest_prices.apply(convert_to_usd, axis=1)

# Drop old currency columns
latest_prices = latest_prices.drop(columns=["usd", "eur", "gbp", "jpy", "rub"])

In [147]:
# replace gameid with NaN price with 0 (free game or not released yet)
latest_prices.fillna({'price_usd': 0}, inplace=True)
latest_prices.head

<bound method NDFrame.head of         gameid date_acquired  price_usd
0           10    2025-02-24   7.579735
1           20    2025-02-24   4.428207
2           30    2025-02-24   4.428207
3           40    2025-02-24   4.428207
4           50    2025-02-24   4.428207
...        ...           ...        ...
98460  3437800    2025-02-24   0.000000
98461  3437960    2025-02-24   0.000000
98462  3441030    2025-02-24   0.000000
98463  3441170    2025-02-24   0.000000
98464  3441890    2025-02-24   0.000000

[98465 rows x 3 columns]>

In [ ]:
# latest_prices.head()

   gameid date_acquired  price_usd
0      10    2025-02-24   7.579735
1      20    2025-02-24   4.428207
2      30    2025-02-24   4.428207
3      40    2025-02-24   4.428207
4      50    2025-02-24   4.428207

In [ ]:
# get released_date from games has id=266410
# gameid = 340
# games[games['gameid'] == gameid]
# latest_prices[latest_prices['gameid'] == gameid]

    gameid date_acquired  price_usd
15     340    2025-02-24        0.0

# Feature engineering

## Create User-Game Interaction matrix

In [ ]:
purchased_games["library"] = purchased_games["library"].apply(eval)

In [176]:
purchased_games

                 playerid                                            library
0       76561198060698936  [60, 1670, 3830, 1600, 2900, 2910, 2920, 4800,...
1       76561198287452552  [10, 80, 100, 240, 2990, 6880, 6910, 6920, 698...
2       76561198040436563  [10, 80, 100, 300, 20, 30, 40, 50, 60, 70, 130...
3       76561198042412488  [300, 240, 220, 320, 360, 4300, 4800, 4000, 61...
4       76561198119605821  [47870, 108600, 550, 271590, 331470, 381210, 2...
...                   ...                                                ...
102543  76561199063275634                                                 []
102544  76561198003275888  [3920, 2600, 6980, 4540, 4550, 7830, 22330, 22...
102545  76561198944668572                                                 []
102546  76561198033563710                                                 []
102547  76561198165611843                                                 []

[102548 rows x 2 columns]

In [163]:
games

        gameid  ... release_date
0      3281560  ...   2024-10-21
1      3280930  ...   2024-10-17
2      3280770  ...   2024-10-13
3      3279790  ...   2024-10-13
4      3278320  ...   2024-10-12
...        ...  ...          ...
98243  1499520  ...   2021-03-31
98244  1499540  ...   2021-11-02
98245  1499550  ...   2020-12-29
98246  1498590  ...   2021-01-08
98247  1498600  ...   2021-11-01

[98245 rows x 7 columns]

In [165]:
history

                   playerid  ...       date_acquired
0         76561198220441373  ... 2019-12-18 15:33:43
1         76561198220441373  ... 2019-12-18 23:49:51
2         76561198220441373  ... 2019-12-19 23:05:07
3         76561198220441373  ... 2019-12-24 05:50:49
4         76561198220441373  ... 2023-04-19 22:39:36
...                     ...  ...                 ...
10693874  76561198985765745  ... 2024-06-29 01:33:43
10693875  76561198985765745  ... 2024-06-29 01:47:50
10693876  76561198985765745  ... 2024-06-29 02:07:34
10693877  76561198985765745  ... 2024-06-29 02:27:05
10693878  76561198985765745  ... 2024-06-16 19:20:55

[10693879 rows x 3 columns]

In [166]:
latest_prices

        gameid date_acquired  price_usd
0           10    2025-02-24   7.579735
1           20    2025-02-24   4.428207
2           30    2025-02-24   4.428207
3           40    2025-02-24   4.428207
4           50    2025-02-24   4.428207
...        ...           ...        ...
98460  3437800    2025-02-24   0.000000
98461  3437960    2025-02-24   0.000000
98462  3441030    2025-02-24   0.000000
98463  3441170    2025-02-24   0.000000
98464  3441890    2025-02-24   0.000000

[98465 rows x 3 columns]

In [ ]:
# purchased_games[purchased_games['playerid'] == 76561198287996067]['library']

Series([], Name: library, dtype: object)

In [168]:
achievements = pd.read_csv("./datasets/achievements.csv")

In [169]:
achievements

                         achievementid  ...                               description
0               2621440_ACH_FIRST_KILL  ...                You should kill ONE enemy.
1        2621440_ACH_0_LEVEL_COMPLETED  ...             You should complete tutorial.
2        2621440_ACH_1_LEVEL_COMPLETED  ...           You should complete first level
3        2621440_ACH_2_LEVEL_COMPLETED  ...          You should complete second level
4        2621440_ACH_3_LEVEL_COMPLETED  ...           You should complete third level
...                                ...  ...                                       ...
1939022              3399670_CHECKMATE  ...                              A quick win.
1939023                   3399670_SUNK  ...         Throw 100 dummies into the abyss.
1939024              3399670_SHATTERED  ...                        Break all the cans
1939025                  3399670_SMILE  ...  You are being filmed by a hidden camera.
1939026                    3399670_END  ...                                Chapter 1.

[1939027 rows x 4 columns]

In [170]:
friends = pd.read_csv("./datasets/friends.csv")

In [173]:
friends

                 playerid                                            friends
0       76561198060422271  ['76561198018120276', '76561198034545417', '76...
1       76561198113439786  ['76561198047435192', '76561198059136488', '76...
2       76561198149851326  ['76561197991555589', '76561198003513187', '76...
3       76561198296997371                                                NaN
4       76561198895573082  ['76561197960300358', '76561197961330830', '76...
...                   ...                                                ...
424678  76561198136182808                                                NaN
424679  76561198088853055  ['76561197960399877', '76561197960483676', '76...
424680  76561197992827217  ['76561197964833893', '76561197968477959', '76...
424681  76561198072957822                                                NaN
424682  76561198843511253  ['76561197962235436', '76561197964570365', '76...

[424683 rows x 2 columns]

In [177]:
# convert friends column to list of playerid, NaN to empty list
friends["friends"] = friends["friends"].apply(lambda x: eval(x) if not pd.isna(x) else [])

In [178]:
friends

                 playerid                                            friends
0       76561198060422271  [76561198018120276, 76561198034545417, 7656119...
1       76561198113439786  [76561198047435192, 76561198059136488, 7656119...
2       76561198149851326  [76561197991555589, 76561198003513187, 7656119...
3       76561198296997371                                                 []
4       76561198895573082  [76561197960300358, 76561197961330830, 7656119...
...                   ...                                                ...
424678  76561198136182808                                                 []
424679  76561198088853055  [76561197960399877, 76561197960483676, 7656119...
424680  76561197992827217  [76561197964833893, 76561197968477959, 7656119...
424681  76561198072957822                                                 []
424682  76561198843511253  [76561197962235436, 76561197964570365, 7656119...

[424683 rows x 2 columns]

In [ ]:
# write dataset back to csv
import os
if not os.path.exists('./clean_datasets'):
    os.makedirs('./clean_datasets')

players.to_csv('./clean_datasets/players.csv', index=False)
games.to_csv('./clean_datasets/games.csv', index=False)
purchased_games.to_csv('./clean_datasets/purchased_games.csv', index=False)
history.to_csv('./clean_datasets/history.csv', index=False)
latest_prices.to_csv('./clean_datasets/prices.csv', index=False)
achievements.to_csv('./clean_datasets/achievements.csv', index=False)
friends.to_csv('./clean_datasets/friends.csv', index=False)

In [ ]:
import re
def clean_library_string(library_str):
    library_str = library_str.strip()  # Xóa khoảng trắng hai bên
    if not library_str.startswith("["):
        library_str = "[" + library_str
    # Nếu thiếu dấu ']', thêm vào cuối
    if library_str.count("[") > library_str.count("]"):
        library_str += "]"
    
    # Nếu có dấu phẩy cuối cùng bị thừa (trường hợp "[1,2,3,")
    library_str = re.sub(r",\s*\]", "]", library_str)
    
    try:
        # Chuyển chuỗi thành danh sách số nguyên
        game_list = eval(library_str)
        if isinstance(game_list, list):
            return [int(game) for game in game_list if isinstance(game, (int, float))]  # Đảm bảo tất cả phần tử là số
        else:
            return []  # Nếu không phải list thì trả về danh sách rỗng
    except Exception as e:
        print(f"Lỗi khi xử lý chuỗi {library_str}: {e}")
        return []  # Trả về danh sách rỗng nếu có lỗi

# Dùng thử với một số dữ liệu lỗi
test_cases = [
    "[1, 2, 3]",    
    "[4, 5, 6,",     
    "7, 8, 9]",     
    "[10, 11, 12",   
    "abc",           
    "[13, 'x', 14]"
]

for test in test_cases:
    print(f"Input: {test} → Output: {clean_library_string(test)}")

In [ ]:
purchased_game_cleaned = pd.read_csv("./clean_datasets/purchased_games.csv")  # (playerid, library)
purchased_game_cleaned ["library"] = purchased_game_cleaned["library"].apply(clean_library_string)
purchased_game_cleaned.to_csv('./clean_datasets/purchased_games.csv', index=False)